	<!--new-cars start -->
    {% extends "styling.html" %}
    {% load static %}
    {% block body %}
    <section id="new-cars" class="new-cars">
        <div class="container">
            <div class="section-header">
                <p>checkout <span>the</span> latest cars</p>
                <h2>newest cars</h2>
         


            </div><!--/.section-header-->
            <div class="new-cars-content">
                <div class="owl-carousel owl-theme" id="new-cars-carousel">

                  
                    <div class="new-cars-item">
                       
                        <div class="single-new-cars-item">
                            <div class="row">
                                
                                <div class="col-md-7 col-sm-12">
                                    <div class="new-cars-img">
                                        <img  src="{{cars.img.url}}" alt="" width="100" height="100">
                                        
                                    </div><!--/.new-cars-img-->
                                </div>
                                <div class="col-md-5 col-sm-12">
                                    <div class="new-cars-txt">
                                        <h2><a href="#"> {{cars.name}}<span> {{cars.type}} </span></a></h2>
                                        <p>
                                            {{cars.description}}.
                                        </p>
                                    
                                        <div class="card bg-warning">
                                            <div class="card-body">
                                                <p class="text-info">{{ cars.model }}</p>
                                                <code></code>
                                                <p class="text-dark">{{ cars.price }}$</p>
                                                <p class="text-dark">{{ cars.speed }}</p>
                                                <p class="text-dark">{{ cars.color }}</p>
                                            </div>
                                        </div>
                                        
                                    </div><!--/.new-cars-txt-->	
                                </div>
                              
                            </div>
                            <!--/.row-->
                        </div>
                   
                    </div>
                   
              
    </div>
                      
                        </div><!--/.single-new-cars-item-->
                    </div><!--/.new-cars-item-->
                </div><!--/#new-cars-carousel-->
            </div><!--/.new-cars-content-->
        </div><!--/.container-->

    </section><!--/.new-cars-->
    <!--new-cars end -->

    {% endblock body %}