
{% extends "styling.html" %}
{% block body %}
        <div class="clearfix"></div>

    </div>
			<div class="container" id="home">
				<div class="welcome-hero-txt">
					<h2 style="color:#000; z-index:-4444;">get your desired car in resonable price</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore   magna aliqua. 
					</p>
					<button   class="welcome-btn"><a  href="{% url "conect" %}">contact us</a></button>
				</div>
			</div>

			</div>
			</div>

		</section>
{% endblock body %}